## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,0,Ayan,56.4500,138.1667,overcast clouds,6.73,82,100,5.12,RU
1,1,Thompson,55.7435,-97.8558,few clouds,-14.64,58,20,6.91,CA
2,2,Dikson,73.5069,80.5464,overcast clouds,1.85,81,100,29.19,RU
3,3,Belaya Gora,68.5333,146.4167,overcast clouds,-26.01,95,96,5.26,RU
4,4,Qaanaaq,77.4840,-69.3632,clear sky,-23.26,57,0,7.16,GL

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Country
8,8,Atuona,-9.8000,-139.0333,clear sky,77.90,76,4,12.21,PF
10,10,Saint-Joseph,-21.3667,55.6167,light rain,75.58,75,24,6.13,RE
15,15,Caruray,10.3094,119.0128,broken clouds,77.70,88,77,7.78,PH
21,21,Mahebourg,-20.4081,57.7000,few clouds,75.25,94,20,5.75,MU
34,34,Kavieng,-2.5744,150.7967,light rain,82.20,75,100,3.24,PG
36,36,Rikitea,-23.1203,-134.9692,clear sky,79.34,73,3,16.46,PF
39,39,Padang,-0.9492,100.3543,overcast clouds,75.25,78,100,3.02,ID
43,43,Touros,-5.1989,-35.4608,broken clouds,83.30,78,70,10.67,BR
56,56,Valparaiso,-33.0393,-71.6273,clear sky,75.43,55,0,10.36,CL
58,58,Georgetown,5.4112,100.3354,few clouds,77.90,89,20,2.30,MY

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID                182
City                   182
Lat                    182
Lng                    182
Current Description    182
Max Temp               182
Humidity               182
Cloudiness             182
Wind Speed             182
Country                180
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df.dropna()

,City_ID,City,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Country
8,8,Atuona,-9.8000,-139.0333,clear sky,77.90,76,4,12.21,PF
10,10,Saint-Joseph,-21.3667,55.6167,light rain,75.58,75,24,6.13,RE
15,15,Caruray,10.3094,119.0128,broken clouds,77.70,88,77,7.78,PH
21,21,Mahebourg,-20.4081,57.7000,few clouds,75.25,94,20,5.75,MU
34,34,Kavieng,-2.5744,150.7967,light rain,82.20,75,100,3.24,PG
...,...,...,...,...,...,...,...,...,...,...
648,648,Banfora,10.6333,-4.7667,clear sky,79.36,10,3,7.87,BF
657,657,Santa Cruz,-17.8000,-63.1667,broken clouds,86.05,58,75,9.22,BO
658,658,Fuerte Olimpo,-21.0415,-57.8738,clear sky,82.35,55,10,5.44,PY
660,660,Makakilo City,21.3469,-158.0858,clear sky,79.68,57,0,14.97,US
663,663,Mutis,6.2262,-77.4044,broken clouds,78.51,85,83,1.70,CO

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Atuona,PF,77.90,clear sky,-9.8000,-139.0333,
10,Saint-Joseph,RE,75.58,light rain,-21.3667,55.6167,
15,Caruray,PH,77.70,broken clouds,10.3094,119.0128,
21,Mahebourg,MU,75.25,few clouds,-20.4081,57.7000,
34,Kavieng,PG,82.20,light rain,-2.5744,150.7967,
36,Rikitea,PF,79.34,clear sky,-23.1203,-134.9692,
39,Padang,ID,75.25,overcast clouds,-0.9492,100.3543,
43,Touros,BR,83.30,broken clouds,-5.1989,-35.4608,
56,Valparaiso,CL,75.43,clear sky,-33.0393,-71.6273,
58,Georgetown,MY,77.90,few clouds,5.4112,100.3354,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Atuona,PF,77.90,clear sky,-9.8000,-139.0333,Villa Enata
10,Saint-Joseph,RE,75.58,light rain,-21.3667,55.6167,"""Plantation Bed and Breakfast"
21,Mahebourg,MU,75.25,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
34,Kavieng,PG,82.20,light rain,-2.5744,150.7967,Nusa Island Retreat
36,Rikitea,PF,79.34,clear sky,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...,...
648,Banfora,BF,79.36,clear sky,10.6333,-4.7667,Residences David Hebié
657,Santa Cruz,BO,86.05,broken clouds,-17.8000,-63.1667,Aviador Hotel Boutique
658,Fuerte Olimpo,PY,82.35,clear sky,-21.0415,-57.8738,Hospedaje DAMI
660,Makakilo City,US,79.68,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
663,Mutis,CO,78.51,broken clouds,6.2262,-77.4044,Paraiso Escondido

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))